h1 { color: #111; font-family: "Open Sans", sans-serif; font-size: 25px; font-weight: bold;
letter-spacing: -1px; margin-top: 30px;line-height: 0px; text-align: center; }


h3 { color: #111; font-family: "Open Sans", sans-serif; font-size: 14px;
font-weight:100; text-align: center; }


p { color: #685206; font-family: "Open Sans", sans-serif; line-height:
24px; font-size: 12px; text-justify: inter-word; text-align: center;}

body {background-color: white;}
