
	body {background-color: #090F0F;}

	.y_axis text{
		fill: #BEBEBE;
	}
	 .y_axis path{
		stroke: #383838;
	}
	.x_axis text{
		fill: #BEBEBE;
	}
	.x_axis path{
	 stroke: #383838;
 }
	.tick line{
		stroke: #383838;
	}

	.d3-tip {
      line-height: 1;
      padding: 6px;
      background: rgba(9,15,15,.4);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    }

	/* Creates a small triangle extender for the tooltip */
    /* .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: #BEBEBE;
      content: "\25BC";
      position: absolute;
      text-align: center;
    } */

    /* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
	}

	/* Style northward tooltips specifically */
    .d3-tip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
	}


	.grid line {
		stroke: #383838;
		opacity: 0.7;
		shape-rendering: crispEdges;
	}
	.grid path {
		  stroke-width: 0;
	}

	#button_div {
		margin: auto;
		width: 50%;
	}
	#refresh {
		margin-left: 40%;
		margin-right: 40%;
	}
